:root {
  --background-color-main: #84a178;
  --background-color-products-1: #aec6a5;
  --background-color-products-2: #efd478;
  --background-color-products-3: #d6936d;
  --accent-color: #f8d24e;

  --accent-color-2: #188ce8;

  --main-text-color: #fcfcfc;
  --text-color: #131313;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --second-text-color: #ababab;
  --footer-text-color: #7a7a7a;

  // --footer-link-color: rgba(255, 255, 255, 0.6);
  // --border-color: #ececec;
  // --border-second-color: #eeeeee;
  // --background-color-4: #c4c4c4;
  // --background-color-5: rgba(255, 255, 255, 0.1);
  // --background-modal: rgba(0, 0, 0, 0.2);
  // --modal-button: rgba(0, 0, 0, 0.1);
  // --modal-icon-button: #000000;
  // --gallary-background: rgba(47, 48, 58, 0.8);
  // --team-icons-color: #afb1b8;
  // --portfolio-overlay: rgba(33, 150, 243, 0.9);

  --card-gap: 30px;
  --grid-items: 4;

  --main-font: 'Montserrat', sans-serif;
  --second-font: 'Seymour One', sans-serif;
  --third-font: 'DM Sans', sans-serif;
}
