:root {
  --background-color-1: #ffffff;
  --background-color-2: #f5f4fa;
  --background-color-3: #2f303a;
  --accent-color: #2196f3;
  --accent-color-2: #188ce8;
  --main-black-color: #212121;
  --text-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --border-second-color: #eeeeee;
  --background-color-4: #c4c4c4;
  --background-color-5: rgba(255, 255, 255, 0.1);
  --background-modal: rgba(0, 0, 0, 0.2);
  --modal-button: rgba(0, 0, 0, 0.1);
  --modal-icon-button: #000000;
  --gallary-background: rgba(47, 48, 58, 0.8);
  --team-icons-color: #afb1b8;
  --portfolio-overlay: rgba(33, 150, 243, 0.9);

  --card-gap: 30px;
  --grid-items: 4;

  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
}
