*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-1);
  font-family: var(--main-font);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.grid-item {
  flex-basis: calc(
    (100% - var(--card-gap) * (var(--grid-items) - 1)) / var(--grid-items)
  );
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-tittle {
  margin-bottom: 30px;

  color: var(--main-black-color);

  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.84px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    letter-spacing: 1.08px;
  }
}
