// /* Особливості */

.benefits {
  padding-bottom: 68px;

  background-color: var(--background-color-main);
}

.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
}

.benefits__item {
  &:not(:last-child) {
  margin-bottom: 28px;
}
}

.benefits__icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 50%;

  background-color: var(--accent-color);

  margin-bottom: 16px;
}

.benefits__quantity {
  display: block;
  margin-right: auto;
  margin-left: auto;

  color: var(--main-text-color);

text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 1.44px;
text-transform: uppercase;

  margin-bottom: 16px;
}

.benefits__text {
width: 230px;
margin-right: auto;
margin-left: auto;

  color: var(--main-text-color);

text-align: center;
font-size: 12px;
line-height: 2.04;
}