/* Галерея */
.gallery {
 background-color: var(--background-color-main);
 background-image: url(/img/background/background-dt.svg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}